{% extends 'layout.html' %}
{% load static %}

{% block content %}
<section>
    <div class="purplecard">
        <h3></h3>
        

        <p>Lorem ipsum dolor Earum doloribus a inventore quidem culpa
            blanditiis. voluptatum placeat temporibus deleniti nostrum
            eum quia quod fuga!Lorem ipsum dolor,Earum doloribus a inventore quidem culpa
            blanditiis.voluptatum placeat temporibus deleniti nostrum
            eum quia quod fuga!
        </p>
    </div>

    <div class="purplecard">
        <h3>O que fazemos? Por que fazemos?</h3>
        <p>Lorem ipsum dolor Earum doloribus a inventore quidem culpa
            blanditiis. voluptatum placeat temporibus deleniti nostrum
            eum quia quod fuga!Lorem ipsum dolor,Earum doloribus a inventore quidem culpa
            blanditiis.voluptatum placeat temporibus deleniti nostrum
            eum quia quod fuga!
        </p>
    </div>
</section>

<section>
    <div class="purplecard">
        <h3>Alagou aí? conta pra gente!</h3>
        <p>Lorem ipsum dolor,Earum doloribus a inventore quidem culpa
            blanditiis.voluptatum placeat temporibus deleniti nostrum
            eum quia quod fuga!
        </p>
    </div>

    <div class="purplecard">
        <h3>Mapa da sua localização agorinha</h3>
        <p>Lorem ipsum dolor,Earum doloribus a inventore quidem culpa
            blanditiis.voluptatum placeat temporibus deleniti nostrum
            eum quia quod fuga!
        </p>
    </div>
</section>

<section>
    <div class="purplecard">
        <h3>dados de enchentes</h3>
        <p>Lorem ipsum dolor,Earum doloribus a inventore quidem culpa
            blanditiis.voluptatum placeat temporibus deleniti nostrum
            eum quia quod fuga!
        </p>
    </div>

    <div class="purplecard">
        <h3>algo a acrescentar</h3>
        <p>Lorem ipsum dolor,Earum doloribus a inventore quidem culpa
            blanditiis.voluptatum placeat temporibus deleniti nostrum
            eum quia quod fuga!
        </p>
    </div>
</section>
{% endblock %}