{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script defer src="{% static 'script.js' %}"></script>
    <title>Alaga Maps</title>
</head>

<body>
    <input type="checkbox" id="bt_menu">
    <label for="bt_menu">&#9776;</label>
    <nav class="menu">
        <a href="http://localhost:8000/alagou/">alagou</a>
        <a href="">mapa</a>
        <a href="http://localhost:8000/" id="inicio">inicio</a>
        <a href="">previsao</a>
        <a href="http://localhost:8000/cadastro/">cadastro/login</a>
     
    </nav>
    {% block content %}

    {% endblock %}

    <footer>
        <a href="">Contate-nos</a>
        <a href="">Tutorial</a>
        <a href="">alguma coisa, talvez</a>
    </footer>

</body>

</html>