body
{
    background-color: #8524a3;
    margin: 0;
}

nav
{
    display: flex;
    height: 45px;
    justify-content: center;
}

nav a
{
    color: #fefeff;
    font-family: 'Dancing Script', cursive;
    font-size: 18pt;
    padding: 10px 50px 5px 50px;
    text-decoration: none;
}

#inicio
{
    font-size: 28pt;
}

section
{
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0.5%;

}

div
{
    background-color: #64137c;
    height: 300px;
    margin: 20px 0 40px 0;
    padding: 0.5%;
    width: 45%;
    -webkit-box-shadow: 8px 8px 15px rgb(86, 15, 107);
	-moz-box-shadow: 8px 8px 20px rgb(86, 15, 107);
    box-shadow: 15px 20px 15px rgb(86, 15, 107); 
}

h3
{
    color: #fffefe;
    font-family: 'Courgette', cursive;
    text-align: center;
}

iframe
{
    padding: 3% 30% 0 34%;
}

p
{
    font-family: 'Caveat', cursive;
    padding: 3% 5% 0 5%;
}

footer
{
    height: 40px;
}